option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NPM_CONFIG_PRODUCTION
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: 'development'
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ELASTIC_BEAN
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APOS_MONGODB_URI
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APOS_MINIFY
    value: 1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APOS_BUNDLE
    value: prod-bundle
